<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/../logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>${user.dir}/../logs/application-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE LOGGER"/>
    </root>
</configuration>